transformers 
datasets 
scikit-learn 
spacy 
torch
accelerate
transformers[torch]
transformers==4.41.1 
accelerate==0.30.1
nlpaug
trafilatura 
beautifulsoup4 
requests 
newspaper3k 
transformers 
torch 
feedparser 
psycopg2-binary 
folium 
opencage 
langdetect
schedule
flask
